body {
  font-family: 'Merienda', cursive;
  text-align: center;
}
h2 {
  color: #999999;
  font-style: italic;
}

.makeblue {
  color: blue;
}

.makered {
  color: red;
}

#lasagna {

width: 900px;
height:700px;

title: "lasagna"
}
